/*--------------------------------------------------------------
# Elements 
--------------------------------------------------------------*/

.section-gap {
    padding: 60px 0;

    @media(max-width: 991px) {
        padding: 60px 0px;
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.aquablue-bg {
    background: $offwhite;
}

.gradient-bg {
    @extend .d1-gradient-bg;
}

.gradient-bg2 {
    @extend .d3-gradient-bg;
}

.gradient-bg4 {
    @extend .d4-gradient-bg;
}

.section-title-wrap {
    text-align: center;
    margin-bottom: 60px;

    .title-img {
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 15px;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0px;
            @include transform(translateX(-50%));
            background: $offwhite;
            height: 3px;
            width: 80px;
        }
    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $title-color;
    }

    p {
        /*max-width: 820px;*/
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

.d1-gradient-bg {
    background-image: -moz-linear-gradient(110deg, $primary-color 0%, $primary-color2 100%);
    background-image: -webkit-linear-gradient(110deg, $primary-color 0%, $primary-color2 100%);
    background-image: -ms-linear-gradient(110deg, $primary-color 0%, $primary-color2 100%);
}

.d2-gradient-bg {
    background-image: -moz-linear-gradient(0deg, rgb(95, 185, 253) 0%, rgb(114, 227, 166) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(95, 185, 253) 0%, rgb(114, 227, 166) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(95, 185, 253) 0%, rgb(114, 227, 166) 100%);
}

.d3-gradient-bg {
    background-image: -moz-linear-gradient(0deg, rgb(44, 0, 255) 0%, rgb(163, 82, 245) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(44, 0, 255) 0%, rgb(163, 82, 245) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(44, 0, 255) 0%, rgb(163, 82, 245) 100%);
}

.d4-gradient-bg {
    background-image: -moz-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
    background-image: -webkit-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
    background-image: -ms-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
}

.v3-gradient-bg {
    background-image: -moz-linear-gradient(0deg, rgb(20, 29, 162) 0%, rgb(139, 62, 251) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(20, 29, 162) 0%, rgb(139, 62, 251) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(20, 29, 162) 0%, rgb(139, 62, 251) 100%);
}

.genric-btn {
    background: $offwhite;
    color: $title-color;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        @extend .d1-gradient-bg;
        color: $white;
    }

}

@include media-breakpoint-down(sm) {

    .genric-btn {
        margin-right: 1rem !important;
    }

}

.genric-btn2 {
    @extend .d1-gradient-bg;
    color: $white;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    @include transition();

    &:hover {
        background: $offwhite;
        color: $title-color;
    }
}

.generic-margin {
    margin: 14px 0;
    width: 251.54px;
}

.genric-btn3 {
    background-color: #ffffff;
    color: $title-color;
    border: 0px;
    padding: 0px 34px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    font-weight: 600;
    border: none;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    @include transition();

    &:hover {
        &:hover {
            @extend .d1-gradient-bg;
            color: $white;
        }
    }
}

.genric-btn4 {
    @extend .d1-gradient-bg;
    color: $white;
    $light-purple: #9a88fe;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    transition: .1s;
    cursor: pointer;
    @include transition();

    &:hover {
        background: $light-purple;
        color: $white;
    }
}

.pr-btn2 {
    margin: 0px 5px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    @extend .d3-gradient-bg;
    border: 1px solid #bed2f0 !important;
    color: $white !important;

    &:hover {
        @extend .d3-gradient-bg;
        color: $white !important;
    }

    @media(max-width:413px) {
        font-size: 12px;
    }
}

.active2 {
    background: white;
    color: $black !important;
}

.border-top {
    border-top: 1px solid $aquablue-color;
}

.page-top-section {
    background: url(../img/footer/page-top-bg1.jpg) center/cover;
    padding-top: 235px;
    padding-bottom: 40px;
    position: relative;

    .page-top-nav {
        text-align: right;

        @media(max-width: 767px) {
            text-align: left;
            margin-top: 30px;
        }

        a {
            text-transform: uppercase !important;
            color: $white;
        }

        .lnr {
            color: $white;
            padding: 0px 10px;
            font-weight: 700;
        }
    }
}

.social-heading {
    max-width: 425px;
}

.mw-510 {
    max-width: 510px;
}

.cta-section {
    padding: 100px 0px;

    h1 {
        @media(max-width: 1199px)and(min-width: 991px) {
            font-size: 30px;
        }
    }

    @media(max-width:991px) {
        .justify-content-end {
            justify-content: flex-start !important;
        }

        .cta-btn {
            margin-top: 30px;
        }
    }
}

.ct-btn1 {
    background: #ffffff;
    color: $title-color;
    height: 48px;
    line-height: 46px;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-weight: 600;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 100%;
    font-weight: 600;
    border: 2px solid #ffffff;
    text-align: center;
    overflow: hidden;
    @include transition();

    &:hover {
        background: transparent;
        color: #fff;
    }
}

.ct-btn2 {
    background: transparent;
    color: #fff;
    height: 48px;
    line-height: 46px;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-weight: 600;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 100%;
    font-weight: 600;
    border: 2px solid #ffffff;
    text-align: center;
    overflow: hidden;
    @include transition();

    &:hover {
        background: #ffffff;
        color: $title-color;
    }
}

.version1-1 {
    .ct-btn {
        margin: 0px 5px;
        @extend .d2-gradient-bg;
        color: $white;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            @include transition();

            &:hover {
                @extend .d2-gradient-bg;
                border-color: transparent;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version2 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();

            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version3 {
    .ct-btn {
        margin: 0px 5px;
        @extend .d2-gradient-bg;
        color: $white;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            @include transition();

            &:hover {
                @extend .d2-gradient-bg;
                border-color: transparent;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version4 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();

            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version7 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();

            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version8 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();

            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version9 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();

        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();

            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }

        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.stat-section {
    .section-title-wrap {
        margin-bottom: 20px;
    }
}

.single-stat {
    margin-top: 60px;

    h4 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #1e283c;
    }

    p {
        max-width: 320px;
        margin-bottom: 0px;
    }
}

.active-dash-carusel,
.social-right {
    @media(max-width: 991px) {
        margin-top: 50px;
    }
}

.social-section {
    h1 {
        font-size: 48px;
        font-weight: 500;
    }

    p {
        padding: 30px 0px;
        max-width: 500px;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}

.page-top-section1 {
    background: url(../img/footer/banner1.png) center/cover;
    position: relative;
    height: 296px;

    .page-top-nav {
        text-align: right;
        top: 80%;
        left: 45%;
        position: absolute;

        a {
            text-transform: uppercase !important;
            color: $white;
        }

        .lnr {
            color: $white;
            padding: 0px 10px;
            font-weight: 700;
        }
    }
}

.page-top-section1 {
    img {
        width: 100%;
    }

    p {
        font-size: 50px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #252B3A;
        line-height: 24px;
    }
}

.page-top-section2 {
    position: absolute;
    top: 124px;
}


.page-top-section2 img {
    width: 202.29px;
}

.title-margin {
    font-size: 36px;
    color: #FFFFFF;
    font-family: Source Han Sans CN-Medium, Source Han Sans CN;
    margin-top: 80px;

    @media(max-width: 1000px) {
        font-size: 30px;
    }
}

.page-top-bg {
    background: linear-gradient(124deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    margin-top: 40px;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    padding-left: 16px;

    a {
        font-size: 18px;
        font-family: Source Han Sans CN-Medium, Source Han Sans CN;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 38px;
        text-decoration: underline;

        @media(max-width: 500px) {
            font-size: 12px;
        }
    }

    span {
        font-size: 18px;
        font-family: Source Han Sans CN-Medium, Source Han Sans CN;
        font-weight: 500;
        color: #8A4FF6;
        line-height: 38px;
    }

}

.head-sep {
    width: 100%;
    display: block;
}

#title {
    font-size: 24px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #252B3A;
    line-height: 30px;
    vertical-align: middle;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#title-right {
    font-size: 24px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #252B3A;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.title1 {
    font-size: 14px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #252B3A;
    line-height: 28px;
}

.des-common {
    font-size: 14px;
    color: #252B3A;
}

.des-t {
    font-weight: bold;
    color: #8A4FF6;
    line-height: 28px;
}

.des-m {
    width: 16px;
    height: 0px;
    opacity: 1;
    border: 1px solid #8A4FF6;
    margin: 5px 0;
    background-color: #8A4FF6;
}

.section-bgcolor {
    background-color: #F1F5FE;
}

.des-b a {
    color: #252B3A;
    text-decoration: none;
}

.des-b {
    clear: both;
}

.des-b a:hover {
    color: #8A4FF6;
    text-decoration: underline;
}

.genric-btn5 {
    background-color: #ffffff;
    color: $title-color;
    border: 0px;
    padding: 0px 34px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    font-weight: 600;
    border: none;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    @include transition();

    &:hover {
        background: $offwhite;
        color: $title-color;
        border: 1px solid blue;

    }

    &:active {
        background: #E4D5FF;
    }
}

@keyframes breath {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.genric-btn6 {
    background: linear-gradient(124deg, #8D54F6 0%, #7327F5 100%);
    color: #f9fafb;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 40px;
    border-radius: 6px 6px 6px 6px;
    animation: breath 2s linear infinite;
    height: 40px;
    line-height: 36px;

    /*&:hover {
        background: $offwhite;
        color: $title-color;
        border: 1px solid blue;
    }*/

    &:active {
        background: #E4D5FF;
    }

    @media (max-width: 766px) {
        margin: 10px 0px;
    }
}

.market-title {
    font-size: 32px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #252B3A;
    line-height: 40px;
    margin-top: 60px;
}

.market-desc {
    font-size: 14px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #252B3A;
    line-height: 28px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.market-img {
    margin-top: 26px;
    margin-bottom: 26px;
    max-width: 100%;
}

.bonus {
    font-size: 36px;
    font-family: Source Han Sans CN-Heavy, Source Han Sans CN;
    font-weight: 800;
    color: #8A4FF6;
    line-height: 28px;
}

.bonus-unit {
    font-size: 16px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #8A4FF6;
    margin-top: 15px;
}

.bonus-row {
    margin-top: 50px;
    margin-bottom: 15px;

    img {
        vertical-align: baseline;
    }

    @media(max-width: 500px) {
        width: 200px;
    }

}

.bonus-pool {
    font-size: 16px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #252B3A;
    line-height: 20px;
    padding: 0 11px;
}

.bonus-left {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(138, 79, 246, 0.08);
    border-radius: 10px 10px 10px 10px;
    margin: 50px 0;
    display: flex;
    position: relative;
    height: 90px;
    align-items: center;
}

.bonus-tip {
    background: #8A4FF6;
    border-radius: 10px 10px 10px 10px;
    height: 90px;
    position: relative;
    left: 16px;
    top: -28px;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 500px) {
        height: 58px;
    }

}

.bonus2 {
    font-size: 16px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #252B3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.bonus3 {

    font-size: 16px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #8A4FF6;
    line-height: 20px;

    justify-content: center;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 32%;
}

.bonus4 {
    font-size: 36px;
    font-family: Source Han Sans CN-Heavy, Source Han Sans CN;
    font-weight: 800;
    color: #8A4FF6;
    line-height: 28px;
    margin: 0 12px;

    @media(max-width: 500px) {
        font-size: 24px;
    }

    @media(max-width:380px) {
        font-size: 20px;
    }
}

.bonus-box {
    background: #F8FAFF;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #fff, -4px -4px 3px #fff, -4px 4px 3px #fff, 4px -4px 3px #fff;
}

.race-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-box {
    margin-bottom: 40px;
}

.race-flex>.logo-box:nth-of-type(1) {
    width: 200px;
}

.race-flex>.logo-box:nth-of-type(2) {
    width: 1010px;
}

.race-flex>.logo-box:nth-of-type(3) {
    width: 200px;
}

.race-flex>.logo-box:nth-of-type(4) {
    width: 1010px;
}

.race-flex>.logo-box:nth-of-type(5) {
    width: 740px;
}

.logo-top {
    background: linear-gradient(124deg, #8D54F6 0%, #7327F5 100%);
    border-radius: 4px 4px 4px 4px;
    height: 40px;
    font-size: 14px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 30px;
}

.logo-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        background: #FFFFFF;
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.06);
        border-radius: 4px 4px 4px 4px;
        padding: 10px 20px;
        @media(max-width: 766px) {
        padding: 0px;
       }
    }


    span {
        display: inline-block;
        margin-top: 16px;
    }

    span:hover {
        color: #8A4FF6;
    }
}

.logo-bottom-a {
    width: 200px;
    font-size: 14px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #252B3A;
    line-height: 28px;
    text-align: center;
    @media(max-width: 766px) {
        width: 170px;
    }
}

.logo-border {
    border: 1px solid #FFFFFF;
    width: 16px;
}

.logo-label {
    margin: 10px 0px 8px 0px;
}

.logo-inner {
    display: flex;
    justify-content: space-between;

    img {
        margin: 10px 0px;
    }

    margin-left: 16px;
    margin-right: 13px;
}

.intro-box {
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    opacity: 1;
    border: 1px solid #FFFFFF;
    text-align: center;
    position: relative;
    top: -20px;

    p {
        font-size: 16px;
        font-family: Source Han Sans CN-Bold, Source Han Sans CN;
        font-weight: bold;
        color: #8A4FF6;
        line-height: 28px;
        margin-top: 60px;
    }
}

.intro-span {
    display: inline-block;
    margin: 30px 0px 40px;
    font-size: 14px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #252B3A;
    line-height: 28px;
}

.race-intro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a:hover {
        color: white;
    }
}

.intro-1 {
    background: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    border: 1px solid #E8DBFF;
    height: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    font-size: 14px;
    width: 525px;

    @media (max-width: 766px) {
        margin: 10px 0px 50px 15px;
        border: 0px;
    }
}

.intro-left {
    background: #E8DBFF;
    text-align: center;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #8A4FF6;
    line-height: 40px;
    border-radius: 6px 0px 0px 6px;
    width: 250px;
    @media (max-width: 766px) {
        padding: 0 57px;
        width: 290px;
    }
}

.intro-arrow {
    border: 20px solid;
    border-color: transparent transparent transparent #e8dbff;
}

.intro-a {
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #8A4FF6;
    width: 210px;

    a {
        color: #252B3A;
        text-decoration: none;
        line-height: 40px;
    }

    a:hover {
        color: #8A4FF6;
        text-decoration: underline;
    }

    @media (max-width: 766px) {
        margin: 10px 30px 10px 0px;
        background: #FFFFFF;
        border-radius: 6px 6px 6px 6px;
        opacity: 1;
        border: 1px solid #E8DBFF;
        height: 40px;
        width: 300px;
    }
}

.bonus-margin {
    margin-top: 61px;

    @media(max-width: 768px) {
        img {
            display: none;
        }
    }
}

.race_title {
    font-size: 28px;
    font-family: PingFang SC-Semibold, PingFang SC;
    font-weight: 600;
    color: #252B3A;
    line-height: 40px;
    padding-top: 143px;
}