/*--------------------------------------------------------------
# Feature
--------------------------------------------------------------*/

.feature-list {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
    .desc {
        p {
            max-width: 400px;
        }
    }
    @media(max-width:991px) {
        margin-top: 50px;
    }
}

.single-feature {
    border: 1px solid #FFFFFF;
    padding: 38px 33px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px 1px rgba(0,0,0,0.06);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    .icon {
        span {
            display: inline-block;
            border-radius: 50%;
            @include transition();
        }
    }
    .desc {
        h4 {
			font-size: 20px;
			font-weight: 500;
			margin-top: 40px;
			margin-bottom: 18px;
		}
		p {
			margin-bottom: 0px;
		}
    }
    &:hover {
        background: linear-gradient(180deg, #ECE4FA 0%, #FFFFFF 100%);
        border: 2px solid $primary-color;
		.icon {
			span {
				background: $offwhite;
			}
		}
        h4 {
          color: #8A4FF6;
        }
    }
}

@media(max-width: 991px) {
    .feature-right {
        margin-top: 50px;
        text-align: center !important;
    }
    .active-feature-carusel {
        margin-bottom: 50px;
    }
}

@media(max-width:768px) {
    .feature-right {
        p {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.col-lg-feature {
    width: 416px;
}

.item-des {
    font-size: 14px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #575D6C;
    line-height: 28px;
}