
<!-- Start hero-section -->
<section class="hero-section-blog-details relative">
    <div class="">
        <img class="blog-img" src="{{ site.data.hero.blog_slider_image | relative_url }}" alt="">
    </div>

    <div class="content">
        <div class="container">
            <div class="row no-margin align-items-center justify-content-between content-wrap">
                <div class="d-flex align-items-center content-wrap-child">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End hero-section -->
