---
layout: blog
name: 'blog'
hero: blog_details
---

{% include hero_blog.html %}
<!-- Start blog posts -->
<section class="blog-post section-gap">
    <div class="container">
        {% for post in paginator.posts %}
        <div class="row" style="border-top: 1px solid #8A8E99;padding: 32px 0;">
            {% if post.image %}
            <img style="width: 320px;height: 180px;" src="{{ post.image | relative_url }}" alt="Card image cap">
            {% endif %}
            <div style="flex: 1">
                <a href="{{ post.url }}">
                    <h4 class="card-title mb-15">
                        {{ post.title | escape }}
                    </h4>
                    <p class="mt-25 post-info">
                    <span class="author">
                        {{ post.author }}
                    </span> on {{ post.date | date_to_long_string }}
                    </p>
                    {%- if site.show_excerpts -%}
                    <p>
                        {{ post.excerpt }}
                    </p>
                    {%- endif -%}
                    <button type="button" style="width: 88px;line-height: 32px;background: #FFFFFF;border-radius: 2px;border: 1px solid #8A4FF6;color: #8A4FF6;">查看更多</button>
                </a>
            </div>
        </div>
        {% endfor %}

        <!-- Start Pagination -->
        <nav aria-label="Page navigation" class="mt-0 mt-lg-3">

            {% if paginator.total_pages > 1 %}
            <ul class="pagination flex justify-content-center" id="blog-post-sidebar">
                {% if paginator.previous_page %}
                <li class="page-item">
                    <a class="page-link border-0" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
                        <span class="fa fa-long-arrow-alt-left"></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="#" class="page-link border-0" aria-label="Previous">
                        <span class="fa fa-long-arrow-alt-left"></span>
                    </a>
                </li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item  border-0 active">
                    <a href="#" class="page-link">{{ page }}</a>
                </li>
                {% elsif page == 1 %}
                <li class="page-item">
                    <a class="page-link border-0" href="{{ paginator.previous_page_path | relative_url }}">
                        {{ page }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link border-0" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
                        {{ page }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <li href="{{ paginator.next_page_path | relative_url }}" class="page-item">
                    <a class="page-link border-0" aria-label="Next">
                        <span class="fa fa-long-arrow-alt-right"></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <p class="page-link border-0" aria-label="Next">
                        <span class="fa fa-long-arrow-alt-right"></span>
                    </p>
                </li>
                {% endif %}
            </ul>
            {% endif %}

        </nav>
        <!-- End Pagination -->
    </div>
</section>
<!-- End blog posts -->

