
<!-- Start aboutcarsmos section -->
<section class="aboutcarsmos-section section-gap">
    <div class="container">
        <div id="title">
            <img src="{{ site.title_tip | relative_url }}" />
            <span>{{ site.data.aboutcarsmos.title }} </span>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="des-common">
                    <br><div>{{ site.data.aboutcarsmos.description }} </div>
                    {% for li in site.data.aboutcarsmos.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center gallery">
                <a href="{{ site.data.aboutcarsmos.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.aboutcarsmos.image | relative_url }}" alt="" ></a>
            </div>
        </div>
    </div>
</section>
<!-- End aboutcarsmos section -->