
<!-- Start autoexpress-section -->
<section class="autoexpress-section section-gap section-bgcolor">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="active-dash-carusel">
                    <img class="img-fluid item" src="{{ site.data.autoexpress.image_1 | relative_url }}" alt="">
                    <img class="img-fluid item" src="{{ site.data.autoexpress.image_2 | relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <span id="title">{{ site.data.autoexpress.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                <div class="des-common">
                    <div>{{ site.data.autoexpress.description }} </div>
                    {% for li in site.data.autoexpress.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End autoexpress-section -->