
<!-- Start Charter section -->
<section class="charter-section section-gap section-bgcolor">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center gallery">
                <a href="{{ site.data.charter.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.charter.image | relative_url }}" alt="" ></a>
            </div>
            <div class="col-lg-6 text-end">
                <br>
                <span id="title">{{ site.data.charter.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                <div class="des-common">
                    <br><div>{{ site.data.charter.description }} </div>
                    {% for li in site.data.charter.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Charter section -->