
<!-- Start etymos-section -->
<section class="etymos-section section-gap">
    <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.etymos.title }} </span>
                <div class="des-common">
                    <div>{{ site.data.etymos.description }} </div>
                    {% for li in site.data.etymos.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="active-dash-carusel">
                    <img class="img-fluid item" src="{{ site.data.etymos.image_1 | relative_url }}" alt="">
                    <img class="img-fluid item" src="{{ site.data.etymos.image_2 | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>