
<!-- Start EWG section -->
<section class="ewg-section section-gap">
    <div class="container">
        <div id="title">
            <img src="{{ site.title_tip | relative_url }}" />
            <span>{{ site.data.ewg.title }} </span>
        </div>    
        <div class="des-common text-start">    
            <br>
            <div>{{ site.data.ewg.description }} </div>
            {% for li in site.data.ewg.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
            {% endfor %}
            <br>
            <div class="col-lg-auto text-center gallery1">
                <a href="{{ site.data.ewg.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.ewg.image | relative_url }}" alt="" ></a>
            </div>
        </div>
    </div>
</section>
<!-- End EWG section -->