<!-- Start feature section -->
<section id="features" class="feature-section pb-100 pt-100">
    <div class="container">
        <div class="row feature-left-wrapr justify-content-sm-between">
            {% for feature in site.data.feature %}
            <div class="col-lg-feature single-feature">
                <div class="icon">
                    <img width="39" height="40" src="{{ feature.image | relative_url }}" class="attachment-image_icon_40x40 size-image_icon_40x40" alt="">
                </div>
                <div class="desc">
                    <h4> {{ feature.title }} </h4>
                    <p class="item-des"> {{ feature.description }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End feature Area -->