<!-- Start page top -->
<section class="page-top-section1">
    <div class="page-top-section2">
        <img src="{{ site.page_top | relative_url }}" />
        <div class="page-top-bg">
            {% for title in site.data.tsc.title_links %}
            <a href="{{ title.link }}">{{ title.name }}</a>
            {% endfor %}
        </div>
    </div>
</section>
<div> <div id="point"></div> <img class="head-sep" src="{{ site.page_bottom | relative_url }}" /></div>
<!-- End page top -->
<!-- Start TSC section -->
<section class="tsc-section section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.tsc.title }} </span>
                <div class="des-common">
                    <div>{{ site.data.tsc.description }} </div>
                    {% for li in site.data.tsc.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div>{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="{{ site.data.tsc.image | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End TSC section -->
<!-- Start TEC section -->
<section class="tec-section section-gap section-bgcolor">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ site.data.tec.image | relative_url }}" alt="">
            </div>
            <div class="col-lg-6 text-end">
                <span id="title">{{ site.data.tec.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                <div class="des-common">
                    <div>{{ site.data.tec.description }} </div>
                    {% for li in site.data.tec.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div>{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TEC section -->
<!-- Start PMC section -->
<section class="pmc-section section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.pmc.title }} </span>
                <div class="des-common">
                    <div>{{ site.data.pmc.description }} </div>
                    {% for li in site.data.pmc.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div>{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="{{ site.data.pmc.image | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End PMC section -->
<!-- Start Charter section -->
<section class="charter-section section-gap section-bgcolor">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ site.data.charter.image | relative_url }}" alt="">
            </div>
            <div class="col-lg-6 text-end">
                <span id="title">{{ site.data.charter.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                <div class="des-common">
                    <div>{{ site.data.charter.description }} </div>
                    {% for li in site.data.charter.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div>{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Charter section -->
<!-- Start members section -->
<section class="members-section section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.members.title }} </span>
                <div class="des-common">
                    <div>{{ site.data.members.description }} </div>
                    {% for li in site.data.members.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div>{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="{{ site.data.members.image | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End members section -->