
<!-- Start TSC section -->
<section class="tsc-section section-gap" id = "tsc-point">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.tsc.title }} </span>
                <div class="des-common">
                    <br><div>{{ site.data.tsc.description }} </div>
                    {% for li in site.data.tsc.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center gallery">
                <a href="{{ site.data.tsc.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.tsc.image | relative_url }}" alt="" ></a>
            </div>
        </div>
    </div>
</section>
<!-- End TSC section -->
<!-- Start TEC section -->
<section class="tec-section section-gap section-bgcolor"id = "tec-point">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center gallery1">
                <a href="{{ site.data.tec.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.tec.image | relative_url }}" alt="" ></a>
            </div>
            <div class="col-lg-6 text-end">
                <br><span id="title">{{ site.data.tec.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                <div class="des-common">
                    <br><div>{{ site.data.tec.description }} </div>
                    {% for li in site.data.tec.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TEC section -->
<!-- Start PMC section -->
<section class="pmc-section section-gap" id = "pmc-point">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.pmc.title }} </span>
                <div class="des-common">
                    <br><div>{{ site.data.pmc.description }} </div>
                    {% for li in site.data.pmc.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center gallery2">
                <a href="{{ site.data.pmc.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.pmc.image | relative_url }}" alt="" ></a>
            </div>
        </div>
    </div>
</section>
<!-- End PMC section -->
<!-- Start Charter section -->
<section class="charter-section section-gap section-bgcolor" id = "charter-point">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center gallery3">
                <a href="{{ site.data.charter.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.charter.image | relative_url }}" alt="" ></a>
            </div>
            <div class="col-lg-6 text-end">
                <br><span id="title">{{ site.data.charter.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                <div class="des-common">
                    <br><div>{{ site.data.charter.description }} </div>
                    {% for li in site.data.charter.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Charter section -->
<!-- Start members section -->
<section class="members-section section-gap" id = "members-point">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.members.title }} </span>
                <div class="des-common">
                    <br>
                    <div>{{ site.data.members.description }} </div>
                    {% for li in site.data.members.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center gallery4">
                <a href="{{ site.data.members.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.members.image | relative_url }}" alt="" ></a>
            </div>
        </div>
    </div>
</section>
<!-- End members section -->