    <!-- Start important-points section -->
    <section class="important-points-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <div class="title-img">
                        <img src="{{ 'img/title-icon.png' | relative_url }}" alt="">
                    </div>
                    <h1>Some Important Points to be noted</h1>
                    <p>
                        The first is a non technical method which requires the use of adware removal software. Download free adware and spyware removal
                        software and use advanced tools getting infected.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 single-points aquablue-bg">
                    <img src="{{ 'img/points/i1.png' | relative_url }}" alt="">
                    <h4>
                        Search
                        <br> Management
                        <br> System
                    </h4>
                    <p>
                        Staying calm, composed and maintaining strong self esteem in today’s tough environment can be difficult but is not impossible
                        if you follow a few simple guidelines.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 single-points aquablue-bg">
                    <img src="{{ 'img/points/i2.png' | relative_url }}" alt="">
                    <h4>
                        Data
                        <br> Synchronization
                        <br> Options
                    </h4>
                    <p>
                        We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day, also asks us
                        to remain physically young. Young at heart.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 single-points aquablue-bg">
                    <img src="{{ 'img/points/i3.png' | relative_url }}" alt="">
                    <h4>
                        Team
                        <br> Management
                        <br> Facilities
                    </h4>
                    <p>
                        Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are
                        very powerful. They are capable of influencing.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 single-points aquablue-bg">
                    <img src="{{ 'img/points/i4.png' | relative_url }}" alt="">
                    <h4>
                        Schedule
                        <br> Adjustment
                        <br> System
                    </h4>
                    <p>
                        Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light
                        bulb. We just go to the store.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End important-points section -->