<!-- Start marketing-section -->
<section class="marketing-section section-gap aquablue-bg" style = "padding-bottom: 120px;">
    <h1 style="text-align: center;margin-bottom: 60px;color: #252B3A;font-weight: bold;font-size: 32px;">
        {{ site.data.marketing.title }}
    </h1>
    <p class="" style="margin: 0 auto;width: 1280px;text-align: center;color: #252B3A;font-size: 14px;">
        {{ site.data.marketing.description1 }}
    </p>
    <p class="" style="margin: 0 auto;width: 1280px;text-align: center;color: #252B3A;font-size: 14px;">
        {{ site.data.marketing.description2 }}
    </p>
    <p class="" style="margin: 0 auto;width: 1280px;text-align: center;color: #252B3A;font-size: 14px;">
        {{ site.data.marketing.description3 }}
    </p>
    <div style="width: 1280px;background: #FFF;padding: 26px 16px;margin: 60px auto 0;">
        <img class="img-fluid item" src="{{ site.data.marketing.image_one | relative_url }}" alt="" style="width: 400px;margin-right: 80px;">
        <img class="img-fluid item" src="{{ site.data.marketing.image_two | relative_url }}" alt="" style="width: 748px;">
    </div>
</section>
<!-- End marketing-section -->