<!-- Start marketing-section -->
<!-- <section class="marketing-section section-gap section-bgcolor" style = "padding-bottom: 120px;">
    <div class="row feature-left-wrapr justify-content-sm-between">
    <h1 style="text-align: center;margin-bottom: 60px;color: #252B3A;font-weight: bold;font-size: 32px;">
        {{ site.data.marketing.title }}
    </h1>
    <p class="" style="margin: 0 auto;width: 1280px;text-align: center;color: #252B3A;font-size: 14px;">
        {{ site.data.marketing.description1 }}
    </p>
    <p class="" style="margin: 0 auto;width: 1280px;text-align: center;color: #252B3A;font-size: 14px;">
        {{ site.data.marketing.description2 }}
    </p>
    <p class="" style="margin: 0 auto;width: 1280px;text-align: center;color: #252B3A;font-size: 14px;">
        {{ site.data.marketing.description3 }}
    </p>
    <div style="width: 1280px;background: #FFF;padding: 26px 16px;margin: 60px auto 0;">
        <img class="img-fluid item" src="{{ site.data.marketing.image_one | relative_url }}" alt="" style="width: 400px;margin-right: 80px;">
        <img class="img-fluid item col-lg-6" src="{{ site.data.marketing.image_two | relative_url }}" alt="" style="width: 748px;">
    </div>
     </div>
</section> -->
<!-- End marketing-section -->
<section class="marketing-section section-gap section-bgcolor">
    <div class="container">
        <div class="row text-sm-center">
            <div class="market-title">{{ site.data.marketing.title }}</div>
            <div class="market-desc">
            {{ site.data.marketing.description1 }}
                <br>
            {{ site.data.marketing.description2 }}
             <br>
            {{ site.data.marketing.description3 }}
            </div>
        </div>
        <div class="row justify-content-sm-between" style="background-color:#FFFFFF">
            <img class="market-img" src="{{ site.data.marketing.image_one | relative_url }}" alt="" style="width: 400px;">
            <img class="market-img" src="{{ site.data.marketing.image_two | relative_url }}" alt="" style="width: 748px;">
        </div>
</section>    