
<!-- Start members section -->
<section class="members-section section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.members.title }} </span>
                <div class="des-common">
                    <br><div>{{ site.data.members.description }} </div>
                    {% for li in site.data.members.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class = "des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid img-big" src="{{ site.data.members.image | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End members section -->