<!-- Start oasis-section -->
<section class="oasis-section section-gap section-bgcolor">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery">
                    <a href="{{ site.data.oasis.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.oasis.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.oasis.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.oasis.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <br>
                <div id="title-right">
                <span>{{ site.data.oasis.title }} </span>
                <img src="{{ site.title_tip1 | relative_url }}" />
                </div>
                <div class="des-common">
                    <br><div>{{ site.data.oasis.description }} </div>
                    {% for li in site.data.oasis.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End oasis-section -->