<!-- Start dora-section -->
<section class="dora-section section-gap">
    <div class="container">
        <div id="title">
            <img src="{{ site.title_tip | relative_url }}" />
            <span>{{ site.data.dora.title }} </span>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="des-common">
                    <br>
                    <div>{{ site.data.dora.description }} </div>
                    {% for li in site.data.dora.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery">
                    <a href="{{ site.data.dora.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.dora.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.dora.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.dora.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End dora-section -->
<!-- Start oasis-section -->
<section class="oasis-section section-gap section-bgcolor">
    <div class="container">
        <div id="title-right">
            <span>{{ site.data.oasis.title }} </span>
            <img src="{{ site.title_tip1 | relative_url }}" />
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery1">
                    <a href="{{ site.data.oasis.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.oasis.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.oasis.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.oasis.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="des-common">
                    <br>
                    <div>{{ site.data.oasis.description }} </div>
                    {% for li in site.data.oasis.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End oasis-section -->
<!-- Start etymos-section -->
<section class="etymos-section section-gap">
    <div class="container">
        <div id="title">
            <img src="{{ site.title_tip | relative_url }}" />
            <span>{{ site.data.etymos.title }} </span>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="des-common">
                    <br>
                    <div>{{ site.data.etymos.description }} </div>
                    {% for li in site.data.etymos.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery2">
                    <a href="{{ site.data.etymos.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.etymos.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.etymos.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.etymos.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End etymos-section -->
<!-- Start essa-section -->
<section class="essa-section section-gap section-bgcolor">
    <div class="container">
        <div id="title-right">
            <span>{{ site.data.essa.title }} </span>
            <img src="{{ site.title_tip1 | relative_url }}" />
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery3">
                    <a href="{{ site.data.essa.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.essa.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.essa.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.essa.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="des-common">
                    <br>
                    <div>{{ site.data.essa.description }} </div>
                    {% for li in site.data.essa.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End essa-section -->
<!-- Start editev-section -->
<section class="editev-section section-gap">
    <div class="container">
        <div id="title">
            <img src="{{ site.title_tip | relative_url }}" />
            <span>{{ site.data.dora.title }} </span>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="des-common">
                    <br>
                    <div>{{ site.data.editev.description }} </div>
                    {% for li in site.data.editev.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery4">
                    <a href="{{ site.data.editev.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.editev.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.editev.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.editev.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End editev-section -->
<!-- Start autoexpress-section -->
<section class="autoexpress-section section-gap section-bgcolor">
    <div class="container">
        <div id="title-right">
            <span>{{ site.data.autoexpress.title }} </span>
            <img src="{{ site.title_tip1 | relative_url }}" />
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="active-dash-carusel gallery5">
                    <a href="{{ site.data.autoexpress.image_1 | relative_url }}" class="magnific"><img src="{{ site.data.autoexpress.image_1 | relative_url }}" alt=""></a>
                    <a href="{{ site.data.autoexpress.image_2 | relative_url }}" class="magnific"><img src="{{ site.data.autoexpress.image_2 | relative_url }}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="des-common">
                    <br>
                    <div>{{ site.data.autoexpress.description }} </div>
                    {% for li in site.data.autoexpress.des_lists %}
                    <br>
                    <div class="des-t">{{ li.title }}</div>
                    <div class="float-end des-m"></div>
                    <div class="des-b">{{ li.des }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End autoexpress-section -->