<!-- Start race2023 section -->
<section class="race-bg">
    <div class="race-container">
        <div class="content-1">
            <div class="content-1-top">
                <div class="title-race">
                    <img class="title-left" src="{{ site.data.race2023_detail.titleTip | relative_url }}" alt="">
                    <span class="font-title1">{{ site.data.race2023_detail.title1 }}</span>
                    <img class="title-right" src="{{ site.data.race2023_detail.titleTip | relative_url }}" alt="">
                </div>
            </div>
            <div class="content-1-bottom">
                <div class="img-flow">
                    <img src="{{ site.data.race2023_detail.p1 | relative_url }}" alt="">
                    <img class="img-flow1" src="{{ site.data.race2023_detail.p2 | relative_url }}" alt="">
                    <div class="p-intro">
                        {{ site.data.race2023_detail.intro1 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="content-2-top">
                <div class="title-race">
                    <img class="title-left" src="{{ site.data.race2023_detail.titleTip | relative_url }}" alt="">
                    <span class="font-title1">{{ site.data.race2023_detail.title2 }}</span>
                    <img class="title-right" src="{{ site.data.race2023_detail.titleTip | relative_url }}" alt="">
                </div>
            </div>
            <div class="content-2-bottom">
                <div class="content-2-left">
                    <span> {{ site.data.race2023_detail.intro2 }}
                        <strong class="tag-a"> {{ site.data.race2023_detail.intro2_1 }} </strong>{{ site.data.race2023_detail.intro2_2 }}
                    </span>
                </div>
            </div>
            <div class="content-2-img">
                <img src="{{ site.data.race2023_detail.p3 | relative_url }}" alt="">
            </div>
        </div>
        <div class="content-3">
            <div class="content-3-top">
                <div class="title-race">
                    <img class="title-left" src="{{ site.data.race2023_detail.titleTip | relative_url }}" alt="">
                    <span class="font-title1">{{ site.data.race2023_detail.title3 }}</span>
                    <img class="title-right" src="{{ site.data.race2023_detail.titleTip | relative_url }}" alt="">
                </div>
            </div>
            <div class="content-3-center">
                <span class="content-3-intro"> {{ site.data.race2023_detail.intro3 }} </span>
            </div>
            <div class="content-3-bottom">
                <div class="content-3-bottom-top">
                    <ul>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l1 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l2 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l3 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l4 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l5 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l6 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l7 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l8 }}</li>
                    </ul>
                </div>
                <div class="content-3-bottom-bottom">
                    <ul>
                        <li>{{ site.data.race2023_detail.timeLine.l9 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l10 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l11 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l12 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l13 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l14 }}</li>
                        <li>{{ site.data.race2023_detail.timeLine.l15 }}</li>
                        <li class="strong-intro">{{ site.data.race2023_detail.timeLine.l16 }}</li>
                    </ul>
                    <img class="img-m1" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m2" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m3" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m4" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m5" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m6" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m7" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                    <img class="img-m8" src="{{ site.data.race2023_detail.timetip | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot-content">
            <div class="foot-link">{{ site.data.race2023_detail.link }}</div>
            <div class="foot-contact">{{ site.data.race2023_detail.contact }}</div>
            <div class="foot-organizer">{{ site.data.race2023_detail.organizer }}</div>
        </div>
    </div>
</section>
<!-- End race2023 section -->