<section class="race2023_intro-section pb-100 section-bgcolor">
    <div class="container">
        <div class="col-lg-auto intro-box">
            <p>{{ site.data.race2023_intro.title }} </p>
            <span class="intro-span">{{site.data.race2023_intro.title1}}</span>
            <div class="race-intro">
                {% for li in site.data.race2023_intro.details %}
                <div class="intro-1">
                    <div class="intro-left">{{ li.label }}</div>
                    <span class="intro-arrow"></span>
                    <div class="intro-a">{{ li.value }}</div>
                </div>
                {% endfor %}
                <div>
                    <a href="{{ site.data.race2023_intro.signup_button_link }}" class="genric-btn6">
                        {{site.data.race2023_intro.signup_button_text}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>