
    <section class="race-logo-section section-gap" id = "race-date-point">
        <div class="container">
            <div class="row justify-content-center section-title-wrap race_logo">
                <img style = "padding: 33px 95px;" src="{{ site.data.race2023_logo.shenxin | relative_url }}" alt="">
                <img style = "padding: 22px 95px;" src="{{ site.data.race2023_logo.future_wei | relative_url }}" alt="">
                <img style = "padding: 10px 95px;" src="{{ site.data.race2023_logo.gongxinbu | relative_url }}" alt="">
                <img style = "padding: 22px 95px; border-right: 0px" src="{{ site.data.race2023_logo.openatom | relative_url }}" alt="">
            </div>
        </div>
    </section>
