<section class="page-top-section1">
    <div class="page-top-section2">
        {% if site.data.menus.locale == 'English' %}
        <img src="{{ site.data.footer.page_top_en | relative_url }}" />
        {% else %}
        <img src="{{ site.data.footer.page_top_zh_cn | relative_url }}" />
        {% endif %}
        <div class="page-top-bg">
            {% for title in site.data.race2023_intro.title_links %}
            <a href="{{ title.link }}">{{ title.name }}</a>
            {% endfor %}
        </div>
    </div>
</section>
<div>
    <div id="point"></div>
    <img class="head-sep" src="{{ site.data.footer.page_bottom | relative_url }}" />
</div>
<!-- End page top -->
<section class="aboutcarsmos-section section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="title-img" src="{{ site.title_tip | relative_url }}" />
                <span id="title">{{ site.data.race2023_intro.title }} </span>
                <div class="des-common">
                    {% for li in site.data.race2023_intro.details %}
                    <br>
                    <div class="des-t">{{ li.label }}</div>
                    <div class="des-m"></div>
                    <div class="des-b">{{ li.value }}</div>
                    {% endfor %}
                    <br>
                    <a href="{{ site.data.race2023_intro.signup_button_link }}" class="genric-btn2">
                        {{ site.data.race2023_intro.signup_button_text }}
                    </a>
                    <!-- <a href="{{ site.data.race2023_intro.info_button_link }}" class="genric-btn5">
                        {{ site.data.race2023_intro.info_button_text }}
                    </a> -->
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid"  style="width:450px;" src="{{ site.data.race2023_intro.image | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>