
<!-- Start TEC section -->
<section class="tec-section section-gap section-bgcolor"id = "tec-point">
    <div class="container">
        <div id="title-right">
            <span>{{ site.data.tec.title }} </span>
            <img src="{{ site.title_tip1 | relative_url }}" />
        </div>
        <div class="des-common text-end">    
            <br>
            <div>{{ site.data.tec.description }} </div>
            <br>
            <div class="col-lg-auto text-center gallery1">
                <a href="{{ site.data.tec.image | relative_url }}" class="magnific"><img class="img-fluid" src="{{ site.data.tec.image | relative_url }}" alt="" ></a>
            </div>
        </div>
    </div>
</section>
<!-- End TEC section -->