<!DOCTYPE html>
<html lang="zxx" class="no-js">
{% include head.html %}
{%- assign logo1 = 'img/logo.svg' -%}
{%- assign logo2 = 'img/logo.svg' -%}
{%- assign i18nIconWhite = '/img/i18n-black.png' -%}
{%- assign i18nIconBlack = '/img/i18n-black.png' -%}
{%- assign checkIcon = '/img/check.png' -%}

<body class="version2 pages">
    <!-- start Header Area -->
    <header id="header7">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div id="logo" class="d-flex align-items-center my-2 my-lg-0 text-white text-decoration-none">
                    <a href="{{ '/' | relative_url }}">
                        <img class="logo-1" src="{{ logo1 | relative_url }}" alt="" title="" />
                    </a>
                    <a href="{{ '/' | relative_url }}">
                        <img class="logo-2" src="{{ logo2 | relative_url }}" alt="" title="" />
                    </a>
                </div>
                {% include nav-menu.html %}
            </div>
        </div>
    </header>
    <!-- End Header Area -->
    <!-- Start page top -->
    <section class="page-top-section1">
        <div class="page-top-section2">
            <p>{{ site.data.hero.bg_title}}</p>
            <div class="page-top-bg">
                <span> {{ site.data.menu_title.title2}} </span>
            </div>
        </div>
    </section>
    <!-- End page top -->
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>