---
layout: blog
hero: blog_details
---

{% include hero_blog_details.html %}
    <!-- Start main body contents -->
    <section class="blog-post section-gap">
        <div class="details-body">
            <div class="container">
                <h2 class="head">{{ page.title | escape }}</h2>

                {{ content }}

                <div class="mt-40 mb-20">
                    <hr>
                </div>

                <div class="post-links">
                    <div class="d-flex align-items-center justify-content-between">
                       {% if page.previous.url %} 
                        <div class="prev-post d-flex relative align-items-center">
                            <div class="mx-2">
                                <a class="post-link" href="{{page.previous.url}}">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="ml-3 relative">
                                <p class="mb-0">Next post</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if page.next.url %}
                        <div class="next-post d-flex relative align-items-center">
                            <div class="mr-3 relative">
                                <p class="mb-0">Next post</p>
                            </div>
                            <div class="mx-2">
                                <a class="post-link" href="{{page.next.url}}">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="comment-section">
					{%- include disqus_comments.html -%}
                </div>
                       
            </div>
        </div>
    </section>
    <!-- End main body contents -->
